<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrer</title>
</head>
<body>
    <div class="container">
        <h2>Registrer</h2>
        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="Brukernavn" required>
            <input type="password" name="password" placeholder="Passord" required>
            <button type="submit">Register</button>
        </form>
        <p>Har du allerede en bruker? <a href="/">Login her</a></p>
    </div>
</body>
</html>
